* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    background-color: firebrick;
    height: 40px;
    display: flex;
    align-items: center;
    /* centra verticalmente */
    padding-left: 20px;
    color: white;
}

#criar-jogo {
   margin-left: 30px;
   cursor: pointer;
   color:white;
}

#div-procura {
   margin-left: 50px;
   color:white;
}

h1 {
    margin-top: 5px;
    text-align: center;
}

#placar-conteiner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

#placar-content1 {
    padding-left: 80px;
    text-align: center;
    background-color: azure;
    font-size: 18px;
    width: 800px;
    margin-bottom: 10px;
}

#placar-list {
    /* text-align: center;
    background-color: azure;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px; */
}

/* espaçamento entre as linhas */
.placar-list {
    margin-bottom: 12px;   
}

/* Container interno da linha */
.placar-list div {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}

/* Texto do jogo ocupa espaço fixo, alinhando os botões */
.placar-list span {
    min-width: 420px;  
    display: inline-block;
}

/* Alinhamento dos botões */
.placar-list button {
    padding: 2px 8px;
    cursor: pointer;
}

