* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    background-color: firebrick;
    height: 40px;
    display: flex;
    align-items: center;
    /* centra verticalmente */
    padding-left: 20px;
}

h1 {
    margin-top: 5px;
    text-align: center;
}

#placar-conteiner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

#placar-content1 {
    padding-left: 80px;
    text-align: center;
    background-color: azure;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
}

#placar-list {
    /* text-align: center;
    background-color: azure;
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px; */
}